.output {
	-fx-font-size: 40px;
}
.button-pane {
	-fx-font-size: 50px;
	-fx-background-color: #336699;
}
.special-text {
	-fx-text-fill: green;
}

.button-pane.special-text {
	-fx-text-fill: green;
}
